# ==============================
# Entorno virtual
# ==============================
env/
venv/
.venv/

# ==============================
# Caché de Python
# ==============================
__pycache__/
*.py[cod]

# ==============================
# Archivos de entorno
# ==============================
.env

# ==============================
# Archivos de logs
# ==============================
*.log

# ==============================
# Archivos del sistema
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Archivos del editor
# ==============================
.vscode/
.idea/
*.swp

# ==============================
# Cobertura y tests
# ==============================
.coverage
htmlcov/

# ==============================
# Pytest
# ==============================
.pytest_cache/